#maintitle{
    text-align: center;
    margin-bottom: 0%;
}
#subtitle{
    text-align: center;
    margin-top: 0%;
}

.userbutton{
    border-radius: 30px;
    width:250px;
    height:150px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: solid black 3px;
    text-align: center;
    margin-top: 50px;

}

.agencybutton{
    border-radius: 30px;
    width:250px;
    height:150px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: solid black 3px;
    margin-top: 80px;
}